*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.dubai_img
{
    background: linear-gradient(rgba(0, 0, 0, 0.516)), url(./uae-4-2048x1367\ 2.png);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bgheader
{
    max-width: 1200px;
    margin: auto;
}
.header
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header_list
{
    display: flex;
    gap: 50px;
}
.header button
{
    padding: 10px 30px;
    background-color: #07AF91;
    border: none;
    border-radius: 10px;
    color: white;
}
.list_header2
{
    color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.list_header2 h1
{
    font-size: 43px;
}
.list_header2 h2
{
    font-weight: 400;
}
.list_header2 button
{
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #61B5E4;
    font-size: 18px;
    width: 15%;
}
.fa-bars
{
    display: none;
}
.list_header2 h3
{
    display: none;
}
.sec1
{
    max-width: 1200px;
    margin: auto;
}
.blue
{
    color: #1178B2;
}
.list_sec22 p
{
    width: 600px;
    font-size: 20px;
}
.list_sec2 h4
{
    font-size: 24px;
}
.list_sec22 h4
{
    font-size: 24px;
}
.chap button
{
    padding: 15px 50px;
    background-color: #07AF91;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    width: 40%;
}
.chap9 button
{
    padding: 15px 50px;
    background-color: #07AF91;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    width: 50%;
}
.card1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.sec2
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.chap
{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.chap9
{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.list_sec2
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.list_sec22
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.sec3
{
    max-width: 1200px;
    margin: auto;
    margin-top: 150px;
}
.sec3 h1
{
    text-align: center;
}
.item1 h1
{
    font-size: 80px;
    color: #1177b283;
}
.item1
{
    box-shadow: 0px 0px 20px rgb(225, 225, 225);
    width: 25%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
}
.items
{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.sec4
{
    background: linear-gradient(rgba(0, 0, 0, 0.658)), url(./startup\ 3.png);
    height: 604px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.children
{
    max-width: 1200px;
    margin: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    row-gap: 20px;
}
.children h1
{
    padding: 5px;
    background-color: #07AF91;
    width: 80%;
}
.children button
{
    padding: 15px 30px;
    background-color: #61B5E4;
    border: none;
    border-radius: 10px;
}























@media(max-width: 600px)
{
    .header_list
    {
        display: none;
    }
    .fa-bars
    {
    display: block;
    padding: 10px 10px;
    background-color: white;
    color: #07AF91;
    border-radius: 5px;
    }
    .list_header2
    {
        text-align: center;
        row-gap: 70px;
        padding: 20px;
    }
    .list_header2 h1
    {
        font-size: 36px;
    }
    .list_header2 button
    {
        width: 70%;
        margin: auto;
    }
    .list_header2 h3
    {
        display: block;
    }
    .list_header2 h2
    {
        display: none;
    }
    .card1
    {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
    .card1 button
    {
        margin: auto;
        width: 60%;
    }
    .rev
    {
        flex-direction: column-reverse;
    }
    .cen
    {
        text-align: center;
    }
    .sec2
    {
        flex-direction: column;
        row-gap: 100px;
    }
    .list_sec22 p
    {
        width: 98%;
    }
    .items
    {
        flex-direction: column;
        row-gap: 30px;
    }
    .sec3
    {
        padding: 30px;
    }
    .item1
    {
        width: 85%;
    }
}