*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.dubai_img
{
    background: linear-gradient(rgba(0, 0, 0, 0.516)), url(./uae-4-2048x1367\ 2.png);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bgheader
{
    max-width: 1200px;
    margin: auto;
}
.header
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header_list
{
    display: flex;
    gap: 50px;
}
.header button
{
    padding: 10px 30px;
    background-color: #07AF91;
    border: none;
    border-radius: 10px;
    color: white;
}
.list_header2
{
    color: white;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.list_header2 h1
{
    font-size: 43px;
}
.list_header2 h2
{
    font-weight: 400;
}
.list_header2 button
{
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #61B5E4;
    font-size: 18px;
    width: 15%;
}
.fa-bars
{
    display: none;
}
.list_header2 h3
{
    display: none;
}
.sec1
{
    max-width: 1200px;
    margin: auto;
}
.blue
{
    color: #1178B2;
}
.list_sec22 p
{
    width: 600px;
    font-size: 20px;
}
.list_sec2 h4
{
    font-size: 24px;
}
.list_sec22 h4
{
    font-size: 24px;
}
.chap button
{
    padding: 15px 50px;
    background-color: #07AF91;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    width: 40%;
}
.chap9 button
{
    padding: 15px 50px;
    background-color: #07AF91;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    width: 50%;
}
.card1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.sec2
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.chap
{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.chap9
{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.list_sec2
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.list_sec22
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.sec3
{
    max-width: 1200px;
    margin: auto;
    margin-top: 150px;
}
.sec3 h1
{
    text-align: center;
}
.item1 h1
{
    font-size: 80px;
    color: #1177b283;
}
.item1
{
    box-shadow: 0px 0px 20px rgb(225, 225, 225);
    width: 25%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
}
.items
{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.sec4
{
    background: linear-gradient(rgba(0, 0, 0, 0.658)), url(./startup\ 3.png);
    height: 604px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.children
{
    max-width: 1200px;
    margin: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    row-gap: 20px;
}
.children h1
{
    padding: 5px;
    background-color: #07AF91;
    width: 80%;
}
.children button
{
    padding: 15px 30px;
    background-color: #61B5E4;
    border: none;
    border-radius: 10px;
}
.sec5
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.sec5_header
{
    width: 100%;
    display: flex;
    margin-top: 50px;
}
.sec5_header div
{
    border-left: 1px solid rgb(202, 202, 202);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 35%;
    background-color: #eef1f4;
    display: flex;
    align-items: center;
    justify-content: center;
}
#blizh
{
    border-left: 1px solid rgb(202, 202, 202);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 35%;
    background-color: #88BBD8;
    border-radius: 5px;
    color: white;
}
.main
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.tchap button
{
    padding: 15px 30px;
    background-color: #4589b1;
    color: white;
    border: none;
    border-radius: 10px;
    width: 90%;
}
.profil
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.tchap
{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.trost
{
    display: grid;
    grid-template-columns: 289px 289px;
    grid-template-rows: 200px 200px;
    gap: 20px;
}
.i1
{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(231, 231, 231);
}
.i0
{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(231, 231, 231);
    background-color: #1178B2;
    color: white;
}
.ww
{
    font-size: 48px;
}
.i1 h1
{
    color: #1178B280;
}
.i1 p
{
    color: #8a8a8a;
}
.xarita
{
    position: absolute;
    top: 20px;
    z-index: -10;
}

.sec6
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.sec6_list
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.c1 h1
{
    font-size: 120px;
    color: #4a77ca;
    font-weight: 800;
}
.c1
{
    width: 24%;
    padding: 30px 50px;
    box-shadow: 0px 0px 15px rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    row-gap: 30px;
}
.box_items
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.black
{
    width: 100%;
    height: 675px;
    background-color: #0F0F0F;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}
.black p
{
    font-size: 20px;
    color: white;
    position: absolute;
    left: 460px;
    top: 250px;
}
.st
{
    position: relative;
    left: 550px;
    top: 50%;
}
.sec7
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.rowdiv
{
    box-shadow: 0px 0px 15px rgb(196, 196, 196);
    border-radius: 10px;
    margin-top: 30px;
}
.rowdiv2
{
    
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.row1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.row99
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(195, 195, 195);
    box-shadow: 0px 0px 15px rgb(213, 213, 213);
    border-radius: 10px;
}
.row1 p
{
    color: gray;
}
.row99 p
{
    color: gray;
}
.btn
{
    padding: 15px 30px;
    background-color: #1178B2;
    border-radius: 10px;
    border: none;
    color: white;
    width: 22%;
}
.nedeli
{
    display: none;
}
.bg_img_cabut
{
    background-image: url(./Group\ 796.png);
    height: 500px;
}
.sec8
{
    max-width: 1200px;
    margin: auto;
    height: 90%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pop
{
    font-size: 40px;
}
.ch
{
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.ch button
{
    padding: 15px 30px;
    width: 50%;
    border: none;
    border-radius: 10px;
    background-color: #07AF91;
    color: white;
}
.rr
{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}
.rr div
{
    width: 205px;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
}
.pos99
{
    position: absolute;
    top: 30px;
    left: 170px;
    z-index: 0;
}
.grid
{
    display: grid;
    grid-template-columns: 205px 205px;
    grid-template-rows: 111px 111px 113px;
    position: relative;
    gap: 20px;
}
.poss
{
    position: absolute;
    top: 30px;
    left: 160px;
    z-index: 0;
}
.it1
{
    background-color: white;
    margin: auto;
    padding: 35px 20px;
    border-radius: 10px;
}
.it2
{
    background-color: white;
    margin: auto;
    padding: 25px 35px;
    border-radius: 10px;
}
.it3
{
    background-color: white;
    margin: auto;
    padding: 10px 50px;
    border-radius: 10px;
}
.it4
{
    background-color: white;
    margin: auto;
    padding: 15px 55px;
    border-radius: 10px;
}
.idora
{
    z-index: 1;
}
.sec9
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.s9_item1
{
    box-shadow: 0px 0px 15px rgb(213, 213, 213);
    width: 372px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 35px;
    border-radius: 10px;
}
.it1_list
{
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.wrapdiv
{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.sec10
{
    max-width: 1200px;
    margin: auto;
    margin-top: 200px;
}
.sec10_card1
{
    width: 385px;
    height: 798px;
    box-shadow: 0px 0px 15px rgb(211, 211, 211);
    border-radius: 10px;
    margin-top: 50px;
}
.headercard1
{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
}
.list10
{
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.df
{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid rgb(151, 151, 151);
}
.df1
{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
.sec10_card1 button
{
    padding: 25px 100px;
    background-color: #5ea5cf;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
}
.flex_box
{
    display: flex;
    justify-content: space-between;
}
.sec11
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.box
{
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 50px;
}
.s11_list
{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.Sec12
{
    max-width: 1200px;
    margin: auto;
    height: 402px;
    box-shadow: 0px 0px 15px rgb(213, 213, 213);
    margin-top: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.paa
{
    padding: 50px;
}
.s12_list
{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.sec13
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    background-image: url(./Group\ 1049.png);
    height: 157px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





















@media(max-width: 600px)
{
    .header_list
    {
        display: none;
    }
    .fa-bars
    {
    display: block;
    padding: 10px 10px;
    background-color: white;
    color: #07AF91;
    border-radius: 5px;
    }
    .list_header2
    {
        text-align: center;
        row-gap: 70px;
        padding: 20px;
    }
    .list_header2 h1
    {
        font-size: 36px;
    }
    .list_header2 button
    {
        width: 70%;
        margin: auto;
    }
    .list_header2 h3
    {
        display: block;
    }
    .list_header2 h2
    {
        display: none;
    }
    .card1
    {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
    .card1 button
    {
        margin: auto;
        width: 60%;
    }
    .rev
    {
        flex-direction: column-reverse;
    }
    .cen
    {
        text-align: center;
    }
    .sec2
    {
        flex-direction: column;
        row-gap: 100px;
    }
    .list_sec22 p
    {
        width: 98%;
    }
    .items
    {
        flex-direction: column;
        row-gap: 30px;
    }
    .sec3
    {
        padding: 30px;
    }
    .item1
    {
        width: 85%;
    }
    .sec5
    {
        padding: 30px;
        flex-direction: column;
    }
    .main
    {
        flex-direction: column;
    }
    .xarita
    {
        width: 98%;
    }
    .trost
    {
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: 134px 134px;
        gap: 20px;
        margin-top: 30px;
    }
    .ww
    {
        font-size: 20px;
    }
    .i1 p
    {
        font-size: 14px;
        text-align: center;
    }
    .i1
    {
        padding: 10px;
    }
    .tchap button
    {
        position: absolute;
        top: 650px;
        width: 100%;
    }
    .sec5_header
    {
        text-align: center;
        font-size: 14px;
    }
    .st
    {
        left: 110px;
        top: 75px;
    }
    .black p
    {
        top: 30px;
        left: 20px;
    }
    .box_items
    {
        flex-direction: column;
        width: 100%;
        row-gap: 20px;
    }
    .c1
    {
        width: 65%;
        margin: auto;
    }
    .black
    {
        height: 200px;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .sec6_list
    {
        padding: 20px;
    }
    .nedeli
    {
        display: block;
    }
    .sec7
    {
        padding: 20px;
    }
    .prog
    {
        text-align: center;
    }
    .btn
    {
        width: 100%;
    }
    .row99
    {
        font-size: 14px;
    }
    .sec8
    {
        flex-direction: column;
        padding: 30px;
    }
    .idora
    {
        padding: 10px 30px;
    }
    .idora svg
    {
        width: 90%;
    }
    .grid
    {
        display: grid;
        grid-template-columns: 121px 121px;
        grid-template-rows: 66px 66px;
        gap: 20px;
    }
    .bg_grid
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .bg_img_cabut
    {
        height: 850px;
    }
    .poss
    {
        top: 30px;
        left: 30px;
        width: 300px;
    }
    .sec9
    {
        text-align: center;
    }
    .flex_box
    {
        flex-direction: column;
    }
    .sec10_card1
    {
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
    .sec10_card1 button
    {
        padding: 20px 70px;
        margin-left: 30px;
    }
    .box img
    {
        width: 266px;
        height: 208px;
    }
    .box
    {
        flex-direction: column;
        font-size: 18px;
        text-align: center;
        padding: 20px;
    }
    .sec11 h1
    {
        text-align: center;
    }
    .Sec12
    {
        flex-direction: column-reverse;
        margin-top: 100px;
        padding: 20px;
        height: auto;
        text-align: center;
    }
    .paa img
    {
        padding: 0px;
        width: 359px;
        height: 400px;
    }
    .paa
    {
        padding: 0px;
    }
}   